<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name = "resources.TestListener"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="tests.HomePageTest"/>
      <class name="tests.ReservePageTest"/>
      <class name="tests.PurchasePageTest"/>
      <class name="tests.ConfirmationPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
